# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master, beta, stable ]
  pull_request:
    branches: [ master, staging, beta, stable ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-asyncio flake8 black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install private dependencies
      env:
        username: ${{ secrets.USERNAME }}
        secrets_token: ${{ secrets.SECRET_TOKEN }}
      run: |
        pip install git+https://${username}:${secrets_token}@github.com/callistoteam/iamschool.git
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Lint with black
      run: |
        black . --check
    - name: Test with pytest
      env: 
        API_KEY: None
      run: |
        pytest
